<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700;0,800;0,1000&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/customStyling.css">
</head>
<body>
    <div class="main-container" id="completedBookingDetails">
   <div class="topNavbar">
    <article class="topNav">
        <h2><img src="../assets/leftArrow.png" />Booking Details</h2>
        <img src="../assets/notification.png" alt="" />
      </article>
    </div>
    <div class="contentContainer padding-lr">
      <div class="box1 details">
        <article class="leftSide">
            <h2>ID: #123452</h2>
            <p>Distance: 12 kms</p>
            <p>Booking Date: 12-02-2022</p>
            <p>Type: Taxi Booking</p>
        </article>
        <article class="rightSide">
            <p>Completed</p>
            <p class="value">$20.50</p>
        </article>
      </div>
      <div class="box1">
        <h2>Pickup Location</h2>
        <p>Arbudanagar odhav, Ahmedabad</p>
      </div>
      <div class="box1">
        <h2>Drop Location</h2>
        <p>Prahladnagar, Anandnagar Road, Ahmedabad</p>
      </div>
      <div class="box1">
        <h2>Driver</h2>
        <p>Brijesh Mishra</p>
      </div>
    </div>
    <div class="bottomNav">
        <div class="item">
            <img src="../assets/home.png" alt="">
            <p>Home</p>
        </div>
        <div class="item">
            <img src="../assets/favourite.png" alt="">
            <p>Favourite</p>
        </div>
        <div class="item">
            <img src="../assets/orders.png" alt="">
            <p>Orders</p>
        </div>
        <div class="item">
            <img src="../assets/accounts.png" alt="">
            <p>Account</p>
        </div>
    </div>
</body>
</html>