<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700;0,800;0,1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/customStyling.css" />
  </head>
  <body>
    <div class="main-container" id="dropLocation2">
      <div class="topNavbar">
        <article class="topNav">
          <h2><img src="../assets/leftArrow.png" />Select Car</h2>
          <img src="../assets/notification.png" alt="" />
        </article>

        <form action="" id="dropLocationSearch" class="padding-lr">
          <div class="inputContainer">
            <img src="../assets/compass.png" alt="" />
            <input
              type="text"
              name=""
              id=""
              class="address"
              value="D513, Pushp complex, Vastral char rasta"
            />
          </div>
          <div class="inputContainer">
            <img src="../assets/search.png" alt="" />
            <input
              type="text"
              class="search"
              name=""
              placeholder="Select your drop location"
            />
          </div>
        </form>
      </div>

      <img src="../assets/location3.png" alt="" height="337px;" />

      <div class="carService-btn">
        <button style="background: #a3c7c7">Standard</button>
        <button>Economy</button>
        <button>Premium</button>
      </div>

      <article class="carSpecification padding-lr">
        <div class="car1">
          <img src="../assets/car.png" alt="" />
          <p>Faster</p>
          <p>$7.40</p>
          <p>45 mins</p>
        </div>
        <div class="car1">
          <img src="../assets/car.png" alt="" />
          <p>Faster</p>
          <p>$7.40</p>
          <p>45 mins</p>
        </div>
      </article>
    </div>
  </body>
</html>
